# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# Next.js build output
.next/
out/

# Frontend build output
build/
dist/

# Vite build output
.vite/

# Parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# MacOS
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
